In [1]:
import pandas as pd
import numpy as np

In [2]:
# times
rng = pd.date_range('2016 Jul 1', periods = 10, freq = 'D')
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [5]:
rng = pd.date_range('7/1/2016', periods = 10, freq = 'D')

In [6]:
rng

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06', '2016-07-07', '2016-07-08',
               '2016-07-09', '2016-07-10'],
              dtype='datetime64[ns]', freq='D')

In [12]:
# time spans
pd.Period('2016-1-1')

Period('2016-01-01', 'D')

In [10]:
# TIME OFFSET
pd.Timedelta('1 day')  # 时间段

Timedelta('1 days 00:00:00')

In [11]:
pd.Timestamp('2016-01-01 10:10')

Timestamp('2016-01-01 10:10:00')

In [13]:
# FANCY FREQUENCY SETTING
# Only want business days
pd.period_range('2016-01-01 10:10', freq = 'B', periods = 10)

PeriodIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
             '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
             '2016-01-13', '2016-01-14'],
            dtype='period[B]', freq='B')

In [14]:
# It's possible to combine frequencies. What if you want to advance by 25 hours each day. What are the 2 ways to do it?
p1 = pd.period_range('2016-01-01', freq = '25H', periods = 10)

In [15]:
p1

PeriodIndex(['2016-01-01 00:00', '2016-01-02 01:00', '2016-01-03 02:00',
             '2016-01-04 03:00', '2016-01-05 04:00', '2016-01-06 05:00',
             '2016-01-07 06:00', '2016-01-08 07:00', '2016-01-09 08:00',
             '2016-01-10 09:00'],
            dtype='period[25H]', freq='25H')

In [41]:
# 构造一个series index
rng = pd.date_range('2016 Jul 1', periods = 10, freq = '30D')  
# 起始点不一定包含，如果是按照month，就是july 31开始，是按照month来
ts = pd.Series(range(10), index = rng)

In [29]:
# 把一个index 变成 series
#rng.to_series()

In [30]:
#ts.reset_index(name = 'time')

In [42]:
ts['2016']

2016-07-01    0
2016-07-31    1
2016-08-30    2
2016-09-29    3
2016-10-29    4
2016-11-28    5
2016-12-28    6
Freq: 30D, dtype: int64

### time zone

In [44]:
rng = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng.tz  # time zone

In [45]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))
print(set(all_timezones) - set(common_timezones))

440
592
{'Navajo', 'W-SU', 'NZ-CHAT', 'Chile/Continental', 'Australia/West', 'Hongkong', 'EST', 'UCT', 'Atlantic/Faeroe', 'Asia/Tel_Aviv', 'ROK', 'Mexico/BajaSur', 'US/East-Indiana', 'Libya', 'Brazil/West', 'PST8PDT', 'Etc/GMT+12', 'America/Shiprock', 'HST', 'Etc/Zulu', 'GB', 'EET', 'America/Indianapolis', 'Australia/South', 'GMT+0', 'Asia/Chongqing', 'Zulu', 'America/Cordoba', 'GB-Eire', 'Canada/Saskatchewan', 'US/Aleutian', 'Chile/EasterIsland', 'Etc/GMT-1', 'Etc/GMT+8', 'America/Montreal', 'Australia/LHI', 'GMT-0', 'America/Coral_Harbour', 'Egypt', 'Etc/GMT-6', 'Etc/GMT+7', 'Europe/Nicosia', 'Asia/Saigon', 'Etc/GMT+4', 'Poland', 'Etc/GMT+3', 'US/Michigan', 'Singapore', 'Etc/GMT-7', 'Brazil/Acre', 'America/Catamarca', 'America/Porto_Acre', 'Etc/GMT', 'Etc/GMT-3', 'America/Atka', 'Etc/GMT-8', 'Asia/Katmandu', 'America/Knox_IN', 'Asia/Istanbul', 'Etc/GMT-13', 'Australia/NSW', 'America/Mendoza', 'Brazil/East', 'Etc/Universal', 'CET', 'Africa/Asmera', 'Africa/Timbuktu', 'America/Fort_Wayne', 'Europe/Tiraspol', 'Asia/Dacca', 'America/Louisville', 'Etc/GMT+2', 'GMT0', 'Australia/Victoria', 'Australia/ACT', 'Atlantic/Jan_Mayen', 'Japan', 'Etc/GMT-0', 'MST7MDT', 'Australia/Tasmania', 'Europe/Belfast', 'CST6CDT', 'America/Rosario', 'Etc/GMT+6', 'ROC', 'Australia/North', 'Pacific/Truk', 'EST5EDT', 'Asia/Kashgar', 'Etc/GMT+10', 'Asia/Chungking', 'Etc/Greenwich', 'Etc/UTC', 'Iran', 'MET', 'Greenwich', 'Etc/GMT+9', 'Etc/UCT', 'Mexico/General', 'MST', 'Pacific/Samoa', 'Asia/Macao', 'Australia/Yancowinna', 'Etc/GMT+0', 'America/Ensenada', 'Antarctica/South_Pole', 'Pacific/Ponape', 'WET', 'Iceland', 'Etc/GMT-12', 'Kwajalein', 'Turkey', 'Cuba', 'Etc/GMT-11', 'Etc/GMT-4', 'Etc/GMT+1', 'Etc/GMT-10', 'Israel', 'Asia/Calcutta', 'Asia/Rangoon', 'Etc/GMT+11', 'Asia/Harbin', 'America/Jujuy', 'America/Argentina/ComodRivadavia', 'Asia/Ashkhabad', 'Brazil/DeNoronha', 'Universal', 'US/Indiana-Starke', 'Asia/Thimbu', 'Etc/GMT0', 'Mexico/BajaNorte', 'NZ', 'Etc/GMT-5', 'Etc/GMT-14', 'Australia/Canberra', 'America/Buenos_Aires', 'Etc/GMT+5', 'Australia/Queensland', 'Pacific/Johnston', 'Eire', 'Etc/GMT-9', 'US/Samoa', 'Asia/Ujung_Pandang', 'Pacific/Yap', 'Canada/Yukon', 'America/Virgin', 'Jamaica', 'Asia/Ulan_Bator', 'Portugal', 'PRC', 'Etc/GMT-2', 'America/Santa_Isabel'}

In [66]:
data = pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None)

In [67]:
data.columns

Index(['0_1', 2], dtype='object')

In [55]:
#data.rename(columns = {'0_1': "month", 2: 'value'})

         month     value
0   1950-01-01 -0.060310
1   1950-02-01  0.626810
2   1950-03-01 -0.008128
3   1950-04-01  0.555100
4   1950-05-01  0.071577
..         ...       ...
836 2019-09-01  0.306200
837 2019-10-01 -0.082195
838 2019-11-01 -1.193400
839 2019-12-01  0.412070
840 2020-01-01  2.419000

[841 rows x 2 columns]

In [68]:
# or 直接改名!!!!!
data.columns = ['month', 'value']

In [69]:
data

         month     value
0   1950-01-01 -0.060310
1   1950-02-01  0.626810
2   1950-03-01 -0.008128
3   1950-04-01  0.555100
4   1950-05-01  0.071577
..         ...       ...
836 2019-09-01  0.306200
837 2019-10-01 -0.082195
838 2019-11-01 -1.193400
839 2019-12-01  0.412070
840 2020-01-01  2.419000

[841 rows x 2 columns]

In [70]:
# 将其中一个col转成index
data.index = data.month

In [71]:
data

                month     value
month
1950-01-01 1950-01-01 -0.060310
1950-02-01 1950-02-01  0.626810
1950-03-01 1950-03-01 -0.008128
1950-04-01 1950-04-01  0.555100
1950-05-01 1950-05-01  0.071577
...               ...       ...
2019-09-01 2019-09-01  0.306200
2019-10-01 2019-10-01 -0.082195
2019-11-01 2019-11-01 -1.193400
2019-12-01 2019-12-01  0.412070
2020-01-01 2020-01-01  2.419000

[841 rows x 2 columns]

In [72]:
data = data.drop(columns = 'month')  # 也可以加上index等于什么： index = ？

In [73]:
data

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
...              ...
2019-09-01  0.306200
2019-10-01 -0.082195
2019-11-01 -1.193400
2019-12-01  0.412070
2020-01-01  2.419000

[841 rows x 1 columns]

In [79]:
data.loc['1954': '1966']   #loc 是row名字, col名字，可以slice， iloc是第几行，第几列

               value
month
1954-01-01 -0.148290
1954-02-01 -0.180940
1954-03-01  0.475720
1954-04-01  0.511690
1954-05-01 -1.656100
...              ...
1966-08-01 -0.945270
1966-09-01  0.011063
1966-10-01 -1.076600
1966-11-01  0.110560
1966-12-01 -1.401500

[156 rows x 1 columns]

In [88]:
data_pd = data.to_period(freq="M") # period是当前时间的时间段， freq表示计算到何时

In [89]:
data_pd

            value
month
1950-01 -0.060310
1950-02  0.626810
1950-03 -0.008128
1950-04  0.555100
1950-05  0.071577
...           ...
2019-09  0.306200
2019-10 -0.082195
2019-11 -1.193400
2019-12  0.412070
2020-01  2.419000

[841 rows x 1 columns]

### resampling data

In [92]:
# asfreq()进行频度转换。
rng = pd.date_range('1/1/2011', periods=72, freq='H')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2011-01-01 00:00:00    0.004627
2011-01-01 01:00:00   -0.645989
2011-01-01 02:00:00   -1.829647
2011-01-01 03:00:00    1.059143
2011-01-01 04:00:00   -0.176171
                         ...
2011-01-03 19:00:00    0.205914
2011-01-03 20:00:00   -0.866894
2011-01-03 21:00:00   -0.925265
2011-01-03 22:00:00    0.887075
2011-01-03 23:00:00   -1.201496
Freq: H, Length: 72, dtype: float64

In [94]:
ts.asfreq('45Min')  # 这样的话，就是只有同一个时间的才会被拿下来

2011-01-01 00:00:00    0.004627
2011-01-01 00:45:00         NaN
2011-01-01 01:30:00         NaN
2011-01-01 02:15:00         NaN
2011-01-01 03:00:00    1.059143
                         ...
2011-01-03 19:30:00         NaN
2011-01-03 20:15:00         NaN
2011-01-03 21:00:00   -0.925265
2011-01-03 21:45:00         NaN
2011-01-03 22:30:00         NaN
Freq: 45T, Length: 95, dtype: float64

In [97]:
ts.asfreq('45Min', method = 'pad')

2011-01-01 00:00:00    0.004627
2011-01-01 00:45:00    0.004627
2011-01-01 01:30:00   -0.645989
2011-01-01 02:15:00   -1.829647
2011-01-01 03:00:00    1.059143
                         ...
2011-01-03 19:30:00    0.205914
2011-01-03 20:15:00   -0.866894
2011-01-03 21:00:00   -0.925265
2011-01-03 21:45:00   -0.925265
2011-01-03 22:30:00    0.887075
Freq: 45T, Length: 95, dtype: float64

In [102]:
# resample 是按照day/别的时间 aggregate
ts.resample('5h').mean()

2011-01-01 00:00:00   -0.317607
2011-01-01 05:00:00   -0.119920
2011-01-01 10:00:00    0.496380
2011-01-01 15:00:00   -0.748757
2011-01-01 20:00:00    0.435788
2011-01-02 01:00:00    0.020081
2011-01-02 06:00:00    0.210062
2011-01-02 11:00:00    0.293256
2011-01-02 16:00:00   -0.117613
2011-01-02 21:00:00    0.167042
2011-01-03 02:00:00    0.273997
2011-01-03 07:00:00    0.510227
2011-01-03 12:00:00    0.659467
2011-01-03 17:00:00   -0.388031
2011-01-03 22:00:00   -0.157210
Freq: 5H, dtype: float64